.parent {
    width: 90vw;
    background-color: deepskyblue;
    padding: 40px;
    border-style: dashed; 
    margin: 30px;
}

.child {
    padding: 10px;
    margin: 20px;
    border-style:solid;
}

.child-one {
    padding: 40px;
    background-color: rgb(167, 245, 146);
}

.child-two {
    background-color: rgb(211, 170, 248);
}
.child-three {
    background-color: rgb(255, 179, 185);
    margin-top: 40px; 
    top: 10px;
    position: relative;
}